html, body {
  margin: 0;
  padding: 0;
}

.heading {
  font-size: 50px;
}

.bar-chart {
  background-color: #fff;
}

.svg-container {
  background-color: #FFC988;
}

.bar--positive {
  fill: steelblue;
}

.bar--negative {
  fill: darkorange;
}

.graph-title {
  fill: #000;
  font-weight: bold;
  font-size: 12px;
}

text {
  font: 10px sans-serif;
}

/* path, line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
} */
